<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @place_type.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @place_type.slug %>
</p>

<%= link_to 'Edit', edit_place_type_path(@place_type) %> |
<%= link_to 'Back', place_types_path %>
